<%= form_for(@email_list, :class => "table") do |f| %>
  <% if @email_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_list.errors.count, "error") %> prohibited this email_list from being saved:</h2>

      <ul>
      <% @email_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mail %>
    <%= f.text_field :mail %>
  </div>
  <div class="actions">
    <%= f.submit "Add email" %>
  </div>
<% end %>
