<% content_for(:title) { 'Emails list' } %>
<p class="alert notice"><%= notice %></p>
<h1>Managing emails</h1>

<table class="table">
  <tr>
    <th>Mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @email_lists.each do |email_list| %>
  <tr>

   
    <td><h5><%= link_to gravatar_name(email_list.mail), email_list_path(email_list.id) %></h5></td>
      <td>
        <%= gravatar_url email_list.mail %>
      </td>
   
    <td><%= link_to 'Edit', edit_email_list_path(email_list), :class => "btn btn-success" %></td>
    <td><%= link_to 'Destroy', email_list, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Email', new_email_list_path, :class => "btn btn-primary" %>
